<div class="main-title">Inicio</div>
<div class="centralize metro-main" ng-init="init()">
    <div ng-click="ShowView('match')" class="metro-01">
        <span class="metro-title">CRIE SUAS PARTIDAS</span><br />
        <span class="metro-desc">organize partidas, convide seus amigos e pague direto pelo aplicativo!</span>
    </div>
    <div ng-click="ShowView('find-matches')" class="metro-02">
        <span class="metro-titlev2">ENCONTRAR PARTIDAS</span>
    </div>
    <div ng-click="ShowView('find-players')" class="metro-03">
        <span class="metro-titlev2">ENCONTRAR JOGADORES</span>
    </div>
    <div class="metro-04">
        <span class="metro-titlev2">MEUS AMIGOS</span>
    </div>
    <div class="metro-06">
        <span ng-click="" class="metro-titlev2">CONFIGURA&#199;&#213;ES</span>
    </div>
</div>
<script>
     $(document).ready(function () {
        
     });
</script>
