<div class="centralize matchWindow">
    <span class="MatchTitle">Meu Perfil</span>
        
	<div class="centralize">
        <div class="imageProfile"></div>
		<form  action="/register" method="post" class="formRegister">
            
            <span>Nome</span>
            <input type="text" name="name" maxlength="35">
            <br>
            <span>Usuário</span>
            <input type="text" name="username" maxlength="12">
            <br>
            <span>Email</span>
            <input type="text" name="email" maxlength="50">
            <br>
			<button type="submit" class="btnUpdateProfile">ATUALIZAR</button>
		</form>
	</div>
</div>