<div class="full-lg">

    <div class="rg-window">
        <form action="/sys#/register" method="post" class="rg-form">
            <input type="text" name="name" maxlength="35" placeholder="Nome" style="width:130px;"><input type="text" name="lastname" maxlength="35" placeholder="Sobrenome" style="width: 140px; margin-left: 5px;">
            <br>
            <input type="text" name="birthday" maxlength="12" placeholder="Aniversário">
            <br>
            <input type="text" name="email" maxlength="50" placeholder="E-mail">
            <br>
            <input type="password" name="password" maxlength="20" placeholder="Senha">
            <br>
            <input type="text" name="nationality" max="25" placeholder="Nacionalidade">
            <br>
            <input type="text" name="positions" max="25" placeholder="Quais posições você joga?">
            <br>
            <table>
                <tr>
                    <td>
                        <label>
                            <input type="radio" name="gender" value="male"> Masculino
                        </label><br>
                    </td>
                    <td>
                        <label>
                            <input type="radio" name="gender" value="female"> Feminino
                        </label><br>
                    </td>
                </tr>
            </table>


            <!-- <span style="float: none;text-align: center;margin-left: 13vw; border: 0;">Em quais posições você joga?</span>
            <div class="checkPositions">
                <input type="checkbox" name="position" value="Bike">
                <span>Goleiro</span>
                </input>
                <input type="checkbox" name="position" value="Car">
                <span>Zagueiro</span>
                </input>
                <input type="checkbox" name="position" value="Car">
                <span>Lateral Direito</span>
                </input>
                <input type="checkbox" name="position" value="Car">
                <span>Lateral Esquerdo</span>
                </input>
                <input type="checkbox" name="position" value="Car">
                <span>Volante</span>
                </input>
                <input type="checkbox" name="position" value="Car">
                <span>Meia-Armador</span>
                </input>
                <input type="checkbox" name="position" value="Car">
                <span>Meia Direita</span>
                </input>
                <input type="checkbox" name="position" value="Car">
                <span>Meia Esquerda</span>
                </input>
                <input type="checkbox" name="position" value="Car">
                <span>Meia Atacante</span>
                </input>
                <input type="checkbox" name="position" value="Car">
                <span>Ponta</span>
                </input>
                <input type="checkbox" name="position" value="Car">
                <span>Segundo Atacante</span>
                </input>
                <input type="checkbox" name="position" value="Car">
                <span>CentroAvante</span>
                </input>
            </div>-->
            <br>
            <button type="submit" class="rg-btn-register">CADASTRAR</button>
        </form>

        <p class="rg-text">
        Ao inscrever-se, você concorda com os <a href=""><span class="rg-text-green">Termos de Serviço</span></a> e a <a href=""><span class="rg-text-green"> Política <br />
    de Privacidade </span></a>incluindo o <a href=""><span class="rg-text-green"> Uso de Cookies</span></a>. Outros poderão encontrá-lo <br />
    por e-mail ou número de celular, quando fornecido.
</p>
        <div class="social-rg" style="margin-left: 3%;">
            <a href="/oauth/facebook">
                <div class="bt-facebook">Entre com Facebook</div>
            </a>
            <a href="/oauth/twitter">
                <div class="bt-twitter">Entre com Twitter</div>
            </a>
        </div>
    </div>
</div>
<script>

</script>